@using ShishaKingdom.Web.ViewModels.Products
@model IEnumerable<ShishaKingdom.Web.ViewModels.Products.ProductViewModel>

@{
    ViewBag.Title = "All";
}

<link href="@Url.Content("~/Content/productsStyle.css")" rel="stylesheet" type="text/css" />
<h2>@ViewBag.CategoryName</h2>

<p>
    @Html.ActionLink("Нов Продукт", "AddProduct")
</p>
<div class="row">
    <div class="col-md-12">
        @foreach (ProductViewModel pvm in Model)
        {
            <div class="col-md-3 col-sm-6">
                <span class="thumbnail">
                    <img src="@pvm.ImageUrl" alt="picture for @pvm.Description">
                    <h4>@pvm.Name</h4>
                    <p>@pvm.Description</p>
                    <hr class="line">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p class="price">@pvm.Price BGN</p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button class="btn btn-success right">Поръчай</button>
                        </div>

                    </div>
                </span>
            </div>
        }
    </div>
</div>


