@using ShishaKingdom.Web.ViewModels.Products
@model IEnumerable<ShishaKingdom.Web.ViewModels.Products.ProductViewModel>

@{
    ViewBag.Title = "All";
}



<link href="@Url.Content("~/Content/productsStyle.css")" rel="stylesheet" type="text/css" />



<div class="row">
    <h2>@ViewBag.CategoryName</h2>

    @if (User.IsInRole("Admin"))
    {
        <div class="btn-group" style="margin-bottom: 5px">
            @Html.ActionLink("Нов продукт", "AddProduct", "Products", new { categoryId = @ViewBag.CategoryId }, htmlAttributes: new { @class = "btn btn-white btn-info active" })
            @Html.ActionLink("Промени продукт", "All", "Products", new { area = "Administration", categoryId =@ViewBag.CategoryId},
           htmlAttributes: new { @class = "btn btn-white btn-info active", style = "margin-left:5px" })
        </div>
    }

    <div class="col-md-12">
        @Html.Partial("_ProductPartial", Model)


    </div>
</div>
